@charset "UTF-8";

*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body{
    background-image: linear-gradient(to left, #1D4040, #618C8C);
}

p{
    text-align: justify;
}

h1{
text-align: center;
color:#618C8C ;
text-shadow: 3px 3px 6px #202c2c72;
}

h2{
    color:#1D4040 ;
}

main{
    background-color: white;
    margin: auto;
    border-radius: 10px;
    width: 600px;
    padding: 10px;
    box-shadow: 5px 5px 15px #122828c6;
}
